name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  swarm-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview
      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov
      - name: Coverage (swarm)
        working-directory: swarm
        run: cargo llvm-cov --fail-under-lines 10
